<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>UAM Innovación y Experiencia</title>
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
		<link href="/styles/site.min.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="/fonts/Oswald-Regula.otf" />

		{{!-- This file provides the default styling for the KeystoneJS Content Editor
			- only renders when user is logged in and admin--}}
		{{{isAdminEditorCSS user}}}

		{{!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
		//- Safely remove this block if you are not targeting IE8 --}}
		<!--[if lt IE 9]>
			<script src="//cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.js"></script>
			<script src="//cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script>
		<![endif]-->

	</head>
	<body>

	<div class="nav_main bg_main">

	<a href="index.hbs" class="fa-2x close"></a>
	
	<div class="nav_cont">

		<ul class="nav center">
			
			<li><a href="index.html#quienessomos" class="scroll">QUIÉNES SOMOS?</a></li>
			<li><a href="index.html#servicios" class="scroll">SERVICIOS</a></li>
			<li><a href="index.html#noticias" class="scroll">NOTICIAS</a></li>
			<li><a href="index.html#galeria" class="scroll">GALERIA</a></li>
			<li><a href="index.html#contacto" class="scroll"  >CONTACTO</a></li>
			<li><a href="https://patient.consultoriomovil.net/patient/" class="scroll" id="turnos" target="_blank">Turnos Online</a></li>
		</ul>
		<div class="nomobile">Men&uacute; &nbsp;</div> 
			<a href="index.html#" class="fa fa-bars  menu"></a> 
		
	</div>
		
</div>

<div class="header1">
	
	
		
		<a class="logo image scroll"  href="index.html#home"><img id="uam" src="/imgs/Asset 3.svg" /></a>

		<a id="wasapresp" href="https://api.whatsapp.com/send?phone=" target="_blank" class="fa fa-whatsapp"></a>


		<ul class="header_menu">
			
			
			<li><a href="index.html#quienessomos" class="scroll">QUIÉNES SOMOS?</a></li>
			<li><a href="index.html#servicios" class="scroll">SERVICIOS</a></li>
			<li><a href="index.html#noticias" class="scroll">NOTICIAS</a></li>
			<li><a href="index.html#galeria" class="scroll">GALERIA</a></li>
			<li><a href="index.html#contacto" class="scroll">CONTACTO</a></li>
			<li><a href="https://patient.consultoriomovil.net/patient/" class="scroll" id="turnos">Turnos Online</a></li>
			<li><a style="font-size: x-large;" href="https://api.whatsapp.com/send?phone=" target="_blank" class="fa fa-whatsapp"></a></li>

		</ul>
		 
	</div>

		
			<!--
				Flash messages allow you to display once-off status messages to users, e.g. form
				validation errors, success messages, etc
			-->
			{{#if messages}}
			<div id="flash-messages" class="container">
				{{#if messages.info}}
				<div class="alert alert-info">
						{{{flashMessages messages.info}}}
				</div>
				{{/if}}
				{{#if messages.success}}
				<div class="alert alert-success">
						{{{flashMessages messages.success}}}
				</div>
				{{/if}}
				{{#if messages.warning}}
				<div class="alert alert-warning">
						{{{flashMessages messages.warning}}}
				</div>
				{{/if}}
				{{#if messages.error}}
				<div class="alert alert-danger">
						{{{flashMessages messages.error}}}
				</div>
				{{/if}}
			</div>
			{{/if}}
			<!-- The content block should contain the body of your template's content-->
			{{{body}}}
		</div>
		<div class="section bg_main nav_footer" id="footer">

		<div>
		<ul>
			<li><a href="https://patient.consultoriomovil.net/patient/" target="_blank" class="scroll link_white" style="color: #ff8925;">TURNOS ONLINE</a></li>
			<li><a href="index.html#quienessomos" class="scroll link_white">QUIÉNES SOMOS?</a></li>
			<li><a href="index.html#servicios" class="scroll link_white">SERVICIOS</a></li>
			<li><a href="index.html#noticias" class="scroll link_white">NOTICIAS</a></li>
			<li><a href="index.html#galeria" class="scroll link_white">GALERIA</a></li>
			<li><a href="index.html#contacto" class="scroll link_white" >CONTACTO</a></li>
			
		</ul>
		</div>

		<div>
		<p id="dire">URQUIZA 181 – SALTA – ARGENTINA / TEL 387-4212483</p>
		</div>
		<div id="c2">
		<img src="/imgs/uamfooter.svg" class="logo_footer padding"  />
		</div>
	</div>
	
</div>
	</body>
</html>
