<!DOCTYPE = html>
<html lang="en">

<head>

	<title> </title>
	

	<meta name="title" content="UAM Innovación y experiencia.">
	<meta name="description" content="Centro médico">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	
	<meta property="og:title" content="UAM Innovación y experiencia." />
	<meta property="og:type" content="website" />
	
	<meta property="og:site_name" content="UAM Innovación y experiencia." />
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<link rel="shortcut icon" href="imgs/icono." /> 	

	<link rel="stylesheet" href="fontawesome/css/font-awesome.min.css" type="text/css" />
	<link rel="stylesheet" href="slick/slick.css" type="text/css" />
	<link rel="stylesheet" href="slick/slick-theme.css" type="text/css" />
	<link rel="stylesheet" href="css/animate.css" type="text/css" />
	<link rel="stylesheet" href="css/jquery.fancybox.css" type="text/css" />
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Oswald" />

	<link rel="stylesheet" type="text/css" href="style-v=50.css" />


</head>

<body>



<div class="nav_main bg_main">

	<a href="index.html#" class="fa-2x close"></a>
	
	<div class="nav_cont">

		<ul class="nav center">
			
			<li><a href="index.html#quienessomos" class="scroll">QUIENES SOMOS?</a></li>
			<li><a href="index.html#servicios" class="scroll">SERVICIOS</a></li>
			<li><a href="index.html#noticias" class="scroll">NOTICIAS</a></li>
			<li><a href="index.html#galeria" class="scroll">GALERIA</a></li>
			<li><a href="index.html#contacto" class="scroll" id="turnos" >CONTACTO</a></li>
			<li><a href="" class="scroll">Turnos Online</a></li>
		</ul>
		<div class="nomobile">Men&uacute; &nbsp;</div> 
			<a href="index.html#" class="fa fa-bars  menu"></a> 
	
	</div>
		
</div>

<div class="header1">
	
	
		
		<a class="logo image scroll"  href="index.html#home"><img id="uam" src="imgs/Asset 3.svg" /></a>
		
		<ul class="header_menu">
			
			
			<li><a href="index.html#quienessomos" class="scroll">QUIENES SOMOS?</a></li>
			<li><a href="index.html#servicios" class="scroll">SERVICIOS</a></li>
			<li><a href="index.html#noticias" class="scroll">NOTICIAS</a></li>
			<li><a href="index.html#galeria" class="scroll">GALERIA</a></li>
			<li><a href="index.html#contacto" class="scroll">CONTACTO</a></li>
			<li><a href="" class="scroll" id="turnos">Turnos Online</a></li>
			<li><a href="https://api.whatsapp.com/send?phone=" target="_blank" class="fa fa-whatsapp"></a></li>

		</ul>
		 
	</div>
	
	<div class="section fullscreen" id="home">

		<ul class="social">
			<li><a href="https://api.whatsapp.com/send?phone=" target="_blank" class="fa fa-whatsapp"></a></li>
			<li><a href="https://www.instagram.com/centromedicouma/" target="_blank" class="fa fa-instagram"></a></li>
			<li><a href="https://www.facebook.com/pg/UAMSalta" target="_blank" class="fa fa-facebook "></a></li>
			<p style="color: white; padding-top: 1vw; text-align: center;">URQUIZA 181 – SALTA – ARGENTINA / TEL 387-4212483</p>
		</ul>
		
		<div class="slick">

			 <div> <img src="http://35.237.225.251/wp-content/uploads/2019/03/slider1.jpg" /> </div>
			 <div> <img src="http://35.237.225.251/wp-content/uploads/2019/03/slider2.jpg" /> </div> 
			 <div> <img src="http://35.237.225.251/wp-content/uploads/2019/03/slider3.jpg" /> </div> 
			 <div> <img src="http://35.237.225.251/wp-content/uploads/2019/03/slider4.jpg" /> </div> 
			  						
						
		</div>
			
		
	
	<div class="section fullscreen" id="quienessomos">
		
		<div class="quienes center">
			
			<h1 class="clr_main padding" id="anima1">Quienes Somos ?</h1> <p id="anima2">Experiencia y trayectoria en el mercado, brindando siempre el mejor servicio contable e impositivo a industrias, comercios y microemprendimientos. <br />
			Experiencia y trayectoria en el mercado, brindando siempre el mejor servicio contable e impositivo a industrias, comercios y microemprendimientos. <br />Experiencia y trayectoria en el mercado, brindando siempre el mejor servicio contable e impositivo a industrias, comercios y microemprendimientos. <br />Experiencia y trayectoria en el mercado, brindando siempre el mejor servicio contable e impositivo a industrias, comercios y microemprendimientos. <br />Experiencia y trayectoria en el mercado, brindando siempre el mejor servicio contable e impositivo a industrias, comercios y microemprendimientos. <br />Experiencia y trayectoria en el mercado, brindando siempre el mejor servicio contable e impositivo a industrias, comercios y microemprendimientos. <br />Experiencia y trayectoria en el mercado, brindando siempre el mejor servicio contable e impositivo a industrias, comercios y microemprendimientos. <br />Experiencia y trayectoria en el mercado, brindando siempre el mejor servicio contable e impositivo a industrias, comercios y microemprendimientos. <br />Experiencia y trayectoria en el mercado, brindando siempre el mejor servicio contable e impositivo a industrias, comercios y microemprendimientos. <br />Experiencia y trayectoria en el mercado, brindando siempre el mejor servicio contable e impositivo a industrias, comercios y microemprendimientos. <br />Experiencia y trayectoria en el mercado, brindando siempre el mejor servicio contable e impositivo a industrias, comercios y microemprendimientos. <br />Experiencia y trayectoria en el mercado, brindando siempre el mejor servicio contable e impositivo a industrias, comercios y microemprendimientos. <br />

			<a href=""><img class="boton" src="imgs/botonconocenos.svg"></a>
		
		</div>
		
	</div>
	<img class="doctores" src="imagenes/docs.jpg">
	<div class="section padding bg_main" id="servicios">
		
		<div class="cont center">
			
			<h1 id="anima4">Servicios</h1> 
				<br>
				<br>
		      </div>
		      <div class="row services servicios">
		        <div>
		          <div class="service">
		            <div class="icon-holder">
		              <img src="icons/heart-blue.png" alt="" class="icon">
		            </div>
		            <h4 class="heading">Cardio Training</h4>
		            <p class="description">A elementum ligula lacus ac quam ultrices a scelerisque praesent vel suspendisse scelerisque a aenean hac montes.</p>
		          </div>
		        </div>
		        <div>
		          <div class="service">
		            <div class="icon-holder">
		              <img src="icons/guru-blue.png" alt="" class="icon">
		            </div>
		            <h4 class="heading">Yoga Pilates</h4>
		            <p class="description">A elementum ligula lacus ac quam ultrices a scelerisque praesent vel suspendisse scelerisque a aenean hac montes.</p>
		          </div>
		        </div>
		        <div>
		          <div class="service">
		            <div class="icon-holder">
		              <img src="icons/weight-blue.png" alt="" class="icon">
		            </div>
		            <h4 class="heading">Power Training</h4>
		            <p class="description">A elementum ligula lacus ac quam ultrices a scelerisque praesent vel suspendisse scelerisque a aenean hac montes.</p>
		          </div>
		        </div>
		      </div>
		    </div>

		    <div class="section unis"  >
		    	<div >	
				
				<img src="imagenes/image39.png" class="unidades" alt="" />
				

				
					<img src="imagenes/image40.png" class="unidades" alt="" />
		
				</div>
				<div>
				
				<img src="imagenes/image41.png" class="unidades" alt="" />
				

				
					<img src="imagenes/image42.png" class="unidades" alt="" />

		
			</div>
		</div>

		<div class="section clr_white bg_main fadeInUp animated padding" id="noticias">		
		    <div class="icono fadeInUp animated">
		      <img class="cositos" src="imgs/noticialogo.svg">
		        
		    </div>  
		    

		  
		      <div class="titulares fadeInUp animated">
		       <div class="container">
	<div class="row">
		<div class="col-sm-8 col-md-9">
			<h4 class="text-weight-normal">Showing {{ data.posts.results.length}} post.</h4>
			<div class="blog">
				{{# each data.posts.results}}
				<div data-ks-editable="{{#if ../user}}{{adminEditableUrl ../../user _id}}{{/if}}" class="post">
					<h2><a href="{{postUrl slug}}">{{{title}}}</a></h2>
					<p class="lead text-muted">{{{categoryList categories prefix="Posted in "}}}
							{{#if author.name.first}}by {{author.name.first}}{{/if}}
					</p>
					{{#if image}}<img src="{{{cloudinaryUrl image width=160 height=160 crop='fit' }}}" class="img pull-right">{{/if}}
					<p>{{{content.brief}}}</p>
					{{#if content.extended}}<p class="read-more"><a href="{{postUrl slug}}">Read more...</a></p>{{/if}}
				</div>
				{{/each}}
			</div>
		</div>
		<div class="col-sm-4 col-md-3">
			<h2>Categories</h2>
			<div style="margin-top: 70px;" class="list-group">
				<a href="/blog" class="active list-group-item">All Categories</a>
				{{# each data.categories }}
				<a href="{{categoryUrl key}}" class="false list-group-item">{{name}}</a>
				{{/each}}
			</div>
		</div>	
	</div>
	{{>pagination}}
</div>     
		    <!--        <div >
		            	<hr>
		              <a href="notis.html"><h3>{{{title}}}</h3></a>
		              <p>Stuff</p>
		            </div>
		            
		            <div >
		            	<hr class="separador">
		              <h3>Section 2</h3>
		              <p>Stuff</p>
		            </div>
		            
		            <div >
		            	<hr class="separador">
		              <h3>Section 3</h3>
		              <p>Stuff</p>
		          </div>
		          
		            <div >
		            <hr class="separador">	
		              <h3>Section 3</h3>
		              <p>Stuff</p>
		          </div>
		         </div>
		       						
					-->
						
				
			</div>
	
	<div class="section" id="galeria">

		<a class="item_galeria" href="imagenes/image27.png" data-fancybox="test-srcset" data-caption="Caption #1">
		<img src="imagenes/image27.png" alt="" />
		</a>

		<a class="item_galeria" href="imagenes/image28.png" data-fancybox="test-srcset" data-caption="Caption #2">
			<img src="imagenes/image28.png" alt="" />
		</a>
		<a class="item_galeria" href="imagenes/image29.png" data-fancybox="test-srcset" data-caption="Caption #1">
		<img src="imagenes/image29.png" alt="" />
		</a>

		<a class="item_galeria" href="imagenes/image.png30" data-fancybox="test-srcset" data-caption="Caption #2">
			<img src="imagenes/image30.png" alt="" />
		</a>
		<a class="item_galeria" href="imagenes/image31.png" data-fancybox="test-srcset" data-caption="Caption #1">
		<img src="imagenes/image31.png" alt="" />
		</a>

		<a class="item_galeria" href="imagenes/image32.png" data-fancybox="test-srcset" data-caption="Caption #2">
			<img src="imagenes/image32.png" alt="" />
		</a>
		<a class="item_galeria" href="imagenes/image33.png" data-fancybox="test-srcset" data-caption="Caption #1">
		<img src="imagenes/image33.png" alt="" />
		</a>

		<a class="item_galeria" data-type="image" href="imagenes/image34.png" data-fancybox="test-srcset" data-caption="Caption #2">
			<img src="imagenes/image34.png" alt="" />
		</a>
		<a class="item_galeria" href="imagenes/image35.png" data-fancybox="test-srcset" data-caption="Caption #1">
		<img src="imagenes/image35.png" alt="" />
		</a>

		<a class="item_galeria" href="imagenes/image36.png" data-fancybox="test-srcset" data-caption="Caption #2">
			<img src="imagenes/image36.png" alt="" />
		</a>
		<a class="item_galeria" href="imagenes/image37.png" data-fancybox="test-srcset" data-caption="Caption #1">
		<img src="imagenes/image37.png" alt="" />
		</a>


		<a class="item_galeria" href="imagenes/image37.png" data-fancybox="test-srcset" data-caption="Caption #1">
		<img src="imagenes/image37.png" alt="" />
		</a>
		
	</div>
	
	

	
	<div class="section fullscreen" id="contacto" style="display: inline-flex;">
		<img class="mise padding" style="float: left;" src="imgs/miselaneas.png">

		<div class="contacto_col_right" id="anima12">
			

			<div class="form">
				
					
				<h4 class="clr_main" id="ayudarte">ESTAMOS<br> PARA AYUDARTE</h4>
				
				<form align="center" method="post" name="form" action="#contacto">
					 
					<input type="text" name="nombre" maxlength="90" placeholder="NOMBRE" required />
					<input type="text" name="apellido" maxlength="90" placeholder="APELLIDO" style="float: right;" required />
					<input type="email" name="email" maxlength="90" placeholder="E-MAIL" required />
					<input type="text" name="telefono" maxlength="90" placeholder="TEL&Eacute;FONO" style="float: right;"  />
					<textarea name="mensaje" placeholder="MENSAJE" required></textarea>
					<button class="boton" type="submit">ENVIAR ></button>
					
				</form>

			</div>
			
		</div>	
		<img class="mise padding" style="float: right;" src="imgs/miselaneas2.png">
	</div>

		
	
	<div class="section" id="map"> </div>
	
	<div class="section bg_main nav_footer"" id="footer">

		<div>
		<ul>
			<li><a href="index.html#home" class="scroll link_white" style="color: #ff8925;">TURNOS ONLINE</a></li>
			<li><a href="index.html#quienessomos" class="scroll link_white">QUIENES SOMOS?</a></li>
			<li><a href="index.html#servicios" class="scroll link_white">SERVICIOS</a></li>
			<li><a href="index.html#noticias" class="scroll link_white">NOTICIAS</a></li>
			<li><a href="index.html#galeria" class="scroll link_white">GALERIA</a></li>
			<li><a href="index.html#contacto" class="scroll link_white" ">CONTACTO</a></li>
			
		</ul>
		</div>

		<div>
		<p id="dire">URQUIZA 181 – SALTA – ARGENTINA / TEL 387-4212483</p>
		</div>
		<div id="c2">
		<img src="imgs/uamfooter.svg" class="logo_footer padding"  />
		</div>
	</div>
	
</div>

	<script src="js/jquery-1.7.2.min.js" type="text/javascript"></script>
	<script src="js/fontawesome.js" type="text/javascript"></script>
	<script src="slick/slick.min.js" type="text/javascript" ></script>
	<script src="js/waypoint.js" type="text/javascript"></script>
	<script src="js/scripts.js" type="text/javascript"></script>
	<script src="js/anima.js" type="text/javascript"></script>
	<script src="js/jquery.fancybox.pack.js" type="text/javascript"></script>

	<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyANB--3I9cvZo-ERw-YfU0JQc9fPkzl2OQ&amp;callback=initialize">  </script>
	
	<script type="text/javascript">

		jQuery(document).ready(function() {			

			var pag_items = 1;
			var numpags_items = 3;
			var total_items = 7;
	
			jQuery(".items_pag1").show();
	
			jQuery(".activa_items").click(function(event) {
	
				event.preventDefault();
				var rel = jQuery(this).attr('rel');
				
				for(i=1;i<=numpags_items;i++) { jQuery('.items_pag'+i).hide(); }
				
				if(rel==1) if(pag_items<numpags_items) pag_items++; else pag_items = 1;
				else if(pag_items>1) pag_items--; else pag_items = numpags_items;
				
				$(".items_pag"+pag_items).sort(function(a,b){return Math.round(Math.random())-0.5}).each(function(i) {
					$(this).hide(); $(this).delay(i*100).fadeTo('200',1);
				});	
				
			});

			jQuery(".activa_items_mobile").click(function(event) {
	
				event.preventDefault();
				var rel = jQuery(this).attr('rel');
				
				for(i=1;i<=total_items;i++) { jQuery('.items_pag'+i).hide(); }
				
				if(rel==1) if(pag_items<total_items) pag_items++; else pag_items = 1;
				else if(pag_items>1) pag_items--; else pag_items = total_items;
				
				$(".items_pag"+pag_items).sort(function(a,b){return Math.round(Math.random())-0.5}).each(function(i) {
					$(this).hide(); $(this).delay(i*100).fadeTo('200',1);
				});	
				
			});

			jQuery(".ver_mas").click(function(event) {
	
				event.preventDefault(); 

				$(this).parent(".texto_corto").parent(".item").children(".texto_largo").show(); 
				$(this).parent(".texto_corto").hide(); 
				
			});

			jQuery(".ver_menos").click(function(event) {
	
				event.preventDefault(); 
				$(this).parent(".texto_largo").parent(".item").children(".texto_corto").show(); 
				$(this).parent(".texto_largo").hide(); 
				
			});

			jQuery('.slick').slick({ autoplay: true, autoplaySpeed: 5000, arrows: false, dots: true, pauseOnHover: false, fade: true, cssEase: 'linear', accessibility: false });
			
			jQuery(".scroll").click(function(e) {
			
				e.preventDefault();
				jQuery(".nav_main").fadeOut(200); 
				var full_url = this.href;
				var parts = full_url.split("#");
				var trgt = parts[1];
				var target_offset = $("#"+trgt).offset();
				var target_top = target_offset.top -90;
				jQuery('html, body').animate({scrollTop:target_top}, 500);
						
			});

			jQuery('.fancybox').fancybox();

		});
		
		function initialize() {
			 
			var coordenadas = new google.maps.LatLng( -24.792793, -65.405501);
			 
			    var colores = [
			        {
			          featureType: "all",
			          elementType: "all",
			          stylers: [
			            { saturation: -100 }
			          ]
			        }
			    ];
			 
			    var opciones = {
			        zoom: 16,
			        center: coordenadas,
			        mapTypeId: google.maps.MapTypeId.ROADMAP
			    };
			 
			    var mapa = new google.maps.Map(document.getElementById('map'), opciones);
			 
			    var estilo = new google.maps.StyledMapType(colores);
			    mapa.mapTypes.set('mapa-bn', estilo);
			    mapa.setMapTypeId('mapa-bn');
		
				var image = 'imgs/seniala.png';
			 
			    var marcador = new google.maps.Marker({
			        position: { lat: -24.792793, lng: -65.405501 },
			        map: mapa,
			        icon: image
			    });
		
			 
		}
		
	</script>
	
</body>

</html>